@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    main{
        
    }
    #login{
        float: right;
        width: 80vw;

    }
    #image{
        float: left;
        width: 40%;
        height: 400px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    main{
        
    }
    #login{
        float: left;
        width: 80vw;

    }
    #image{
        float: right;
        width: 40%;
        height: 400px;
    }
}
@media screen and (min-width: 1200px){
    main{
        
    }
    #login{
        float: left;
        width: 70vw;

    }
    #image{
        float: right;
        width: 40%;
        height: 400px;
    }
}